/* Global Styles */
body {
  font-family: Arial, sans-serif;
}

/* Container principal */
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Boutons */
.btn-toggle {
  border-radius: 50%;
}

/* Mode sombre */
.dark-mode {
  background-color: #121212;
  color: white;
}

.light-mode {
  background-color: #f8f9fa;
}