.sidebar {
  position: fixed;
  top: 56px;
  left: 0;
  width: 250px;
  height: 100%;
  background: #222;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar a {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: white;
}

.sidebar a:hover {
  background: #444;
}
.custom-navbar {
  margin-bottom: 120px;
  /* Adjust as needed */
}